body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #2c3e50;
  color: #fff;
  padding: 40px 20px 20px 20px;
  text-align: center;
}

nav {
  background-color: #34495e;
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  padding: 15px 25px;
  text-decoration: none;
}

nav a:hover {
  background-color: #1abc9c;
}

main {
  padding: 40px 20px;
  text-align: center;
}

.button-link, .button {
  display: inline-block;
  margin: 15px;
  padding: 15px 25px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.button-link:hover, .button:hover {
  background-color: #2980b9;
}

#board-canvas {
  border: 2px solid #333;
  margin-top: 20px;
}
